
<div class="main-banner {% if page.layout == 'category' or page.layout == 'post' %} main-banner--list {% endif %}">
    <div class="main-banner__cover" style="{% if page.image %} background-image: url({{page.image}}) {% endif %}"></div>
    <div class="main-banner__text">
        <h2 class="main-banner__h2">
            {% if page.layout == 'category' or page.layout == 'post' %}
               <span>
                   {{page.title}}
               </span> 
            {% else %}
                <span>Beyond Price Comparison</span>
                <br>
                <strong>너와 나와, 다나와에서 함께 개발해요</strong>
                <a href="https://recruit.danawa.com/" class="main-banner__link" target="_blank">
                    <strong>개발자 지원하기</strong>
                </a>
            {% endif %}
        </h2>
    </div>
</div>