{% if page.layout == 'category' %}
    {% assign list-class = "header--list" %}
{% endif %}
{% if page.layout == 'post' %}
    {% assign list-class = "header--list" %}
{% endif %}


<header class="header {{ list-class }}">
    <div class="header__wrap">
        <button type="button" class="header__btn">
            <span class="blind">네비게이션</span>
        </button>
        <h1 class="header__h1">
            <a href="/" target="_self" class="header__link">
                <span class="header__logo">
                    <strong class="blind">danawa</strong>
                </span>
                <span class="header__logo header__logo--techblog">
                    <strong class="blind">기술 블로그</strong>
                </span>
            </a>
        </h1>
    </div>
</header>