
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{page.title}} - {{site.title}}</title>
<meta name="description" content="{{site.description}}">

<link rel="shortcut icon" href="//img.danawa.com/new/danawa_main/v1/img/danawa_favicon.ico" />

<meta property="og:title" content="{{page.title}}">
<meta property="og:description" content="{{page.description}}">

<meta property="og:site_name" content="{{site.title}}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{site.url}}{{page.url}}">
<meta property="og:image" content="{{page.image}}">


<!-- <link rel="stylesheet" href="//static.danawa.com/css/techblog.css"> -->
<link rel="stylesheet" href="//static-t.danawa.com/css/techblog.css">
<link rel="stylesheet" href="/assets/css/monokai_sublime.min.css">
<script src="/assets/js/highlight.min.js"></script> 


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157157616-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-157157616-1');
</script>

<script async type="text/javascript">
  (function () {
      document.addEventListener('DOMContentLoaded', function () {
          const headerBtn = document.querySelector(".header__btn");
          const buttonCate = document.querySelector(".button--cate");
          const buttonToggle = document.querySelector(".button__toggle");
          const content = document.querySelector(".content");
          
          
          headerBtn.addEventListener("click", toggle_btn);
          buttonCate.addEventListener("click", toggle_btn);
          buttonToggle.addEventListener("click", removeClass)

          function toggle_btn() {
              content.classList.toggle("content--side");
          };

          function removeClass() {
              content.classList.remove("content--side");
          }

          document.querySelectorAll(".link--back").forEach(e => {
              e.addEventListener("click", () => {
                  history.go(-1)
              })
          })

          console.warn("\n\n" +
"       /$$                                                       /$$           /$$      \n" +
"      | $$                                                      | $$          | $$      \n" +
"  /$$$$$$$  /$$$$$$  /$$$$$$$   /$$$$$$  /$$  /$$  /$$  /$$$$$$ | $$  /$$$$$$ | $$$$$$$ \n" +
" /$$__  $$ |____  $$| $$__  $$ |____  $$| $$ | $$ | $$ |____  $$| $$ |____  $$| $$__  $$\n" +
"| $$  | $$  /$$$$$$$| $$  \ $$  /$$$$$$$| $$ | $$ | $$  /$$$$$$$| $$  /$$$$$$$| $$  \ $$\n" +
"| $$  | $$ /$$__  $$| $$  | $$ /$$__  $$| $$ | $$ | $$ /$$__  $$| $$ /$$__  $$| $$  | $$\n" +
"|  $$$$$$$|  $$$$$$$| $$  | $$|  $$$$$$$|  $$$$$/$$$$/|  $$$$$$$| $$|  $$$$$$$| $$$$$$$/\n" +
" \_______/ \_______/|__/  |__/ \_______/ \_____/\___/  \_______/|__/ \_______/|_______/ \n" +
"                                                                                        \n\n" )
      })
  })();
</script>