
<div class="markdown-body">

    <h1>{{page.title}}</h1>

    <div class="content__sub">
        <span class="name">{{page.writer}}</span>
        <span class="date">{{ page.date | date: "%Y.%m.%d." }}</span>
        <span class="comments">
            <span class="fb-comments-count" data-href="https://danawalab.github.io/{{page.url}}"></span>
        </span>
    </div>
    <br/>
    {{content}}
</div>

<div class="content__reply">
    <div id="fb-root"></div>
    
    <div class="fb-comments" data-href="https://danawalab.github.io/{{page.url}}" data-width="920px" data-numposts="30"></div>
</div>
