@import url('https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css');
body {
    box-sizing: border-box;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
