<!DOCTYPE html>
<html >
    <head>
	<!-- syntax.css 추가 -->
	<!-- <link rel="stylesheet" type="text/css" href="https://danawalab.github.io/assets/css/syntax.css"> -->
        {%- include head.html -%}
    </head>
    <body>
        {%- include header.html -%}
        <div class="content">

            <div class="content__wrap">
                
                {%- include banner.html -%}
                
                <section class="content__layout">

                    {%- include category.html -%}

                    {{ content }}
                </section>
            </div>
        </div>
        
        {%- include footer.html -%}
    </body>
</html>
