<!DOCTYPE html>
<html >
    <head>
        {%- include head.html -%}
    </head>
    <body>
        {%- include header.html -%}
        <div class="content">

            <div class="content__wrap">
                
                {%- include banner.html -%}

                <section class="content__layout">

                    {%- include category.html -%}

                    {{ content }}
                </section>
            </div>
        </div>
        
        {%- include footer.html -%}
    </body>
</html>